:host {
  display: block;
  margin: 0 auto;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

li {
  color: var(--secondary-font-color);
  font-size: var(--sm-font-size);
  font-family: var(--secondary-font-family);
}

li:hover {
  color: var(--darker-orange-color);
}
