 <ul class="marquee-track">
    @for (item of items; track item.name) {
      <li class="marquee-item">
        <ng-icon
            [name]="item.iconName"
            [style.color]="item.color"
            size="22"
          />
          <span>{{ item.name }}</span>
      </li>
    }
    <!-- Duplicado para efecto infinito sin saltos -->
    @for (item of items; track item.name) {
      <li class="marquee-item">
        <ng-icon
            [name]="item.iconName"
            [style.color]="item.color"
            size="24"
          />
          <span>{{ item.name }}</span>
      </li>
    }
    
</ul>
